# Node modules
node_modules/
npm-debug.log*

# SPFx
lib/
temp/
release/
*.sppkg
sharepoint/solution/
!sharepoint/solution/.gitkeep

# Azure Functions
local.settings.json
*.local.json
.bin/
FuncIgnore

# Azure Storage Emulator
AzureStorageEmulator.exe

# VS Code
.vscode/

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# Environment files
.env
.env.local
tmp/
